/*   agreado por MySEO */
.left-area {
    background-color: #f1f1f1;
    padding: 15px;
    height: 100vh;
    overflow-y: auto;
  }
  
  .center-area {
    padding: 15px;
  }
  
  @media (max-width: 768px) {
    .left-area {
      display: none;
    }
  }