/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}



.visualization_wrapper{

}

.bb_hbox {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: stretch;
}

ul.groupbar {
  list-style: none;
  padding-left: 0px;
  overflow: hidden;
  height: 81px;
  margin-top: 0px;
  margin-bottom: 0px;
}


li.groupBarGroup a{
  color:white;
}
li.groupBarGroup{
  color: white;
  text-align: center;
  padding: 10px 0px;
  border: 1px solid white;
  border-radius: 10px;
}
li.groupBarGroup h3{
  font-size: 1.3rem; 
}

.title_status{
  color:white;
}
#taskTable .title_status td{
  padding: 2px;
}








@media print
{    
    .no_print, .no_print *
    {
        display: none !important;
    }
}

@media screen
{    
    .just_print, .just_print *
    {
        display: none !important;
    }
}

tr.task_row:hover{
  background-color: #eee;
/*  border: 1px solid black; */
}

td.empty:hover {
    border: none;
    border-right: 1px solid #e9ecef;
}
td.empty {
  background-color: #fff;
  border:none;
}

#bigimage-container {
    width: 900px;
    position: sticky;
    top: 0px;
    left: 5px;
    z-index: 100000;
}
#task_image_big{
  max-width: 800px;
}

.my-custom-scrollbar {
  position: relative;
  height: 400px;
  overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}
h2{
  margin-top: 2rem;
  border-bottom: 2px solid black;
}


.dropdown-menu a {
    margin-left: 20px;
}

input#not_billing {
  height: 20px;
}

div#task_dates {
  color: #bbb;
  font-size: small;
}

img.task_image.larger_image {
    width: 200px;
    height: 100px;
}

#daily .col-md.user {
    text-align: center;
}

.daily-task {
    
  padding: 4px;
  margin: 1px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.73);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.73);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.73);
  margin-bottom: 4px;
}
strong.points {
    background-color: white;
    padding: 3px;
    border-radius: 4px;
}
.task-time {
    text-align: right;
    font-size: small;
}
.tableFixHead          { overflow-y: auto; height: 100px; }
.tableFixHead thead th { position: sticky; top: 0; text-align: center }

/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#eee; }
@media only screen and (max-width: 600px) {
  div#button-field {
      margin: 0px auto;
  }

  nav#center-nav {
      left: 0px;
  }
  div#left-navigation, div#inner-left-navigation, div#inner-navbar {
      width: 40px;
  }  
  div#inner-navbar {
      padding: 0 0px;
  }
  a.nav-link {
    font-size: 0;
  }
  .navbar-brand, #dropdownMenuButton{
    display: none;
  }
  section#main-content {
      margin: 0px 0px 0px 0px;
  }
  div#name-field {
      min-width: 70%;
  }
  div#timer-project {
      width: 10%;
  }
  div[id^='task_'] {
      /* border: 1px solid black; */
      margin-bottom: 50px;
  }
  div[id^='task_'] div:nth-child(2){
      font-weight: bold;
      font-size: larger;
  }
  div[id^='task_'] div:nth-child(5),div[id^='task_'] div:nth-child(6){
      text-align: center;
  }
  #task_indicator{
    font-weight: 200;
  }
}
/*   Version escritorio timer */
@media only screen and (min-width: 992px){
  div#button-field {
      margin-left: 10px;
  }
  nav#center-nav {
      left: 180px;
  }
  div#left-navigation, div#inner-left-navigation, div#inner-navbar {
      width: 180px;
  }
  div#inner-navbar {
      padding: 0 20px;
  }
  section#main-content {
      margin: 0px 0px 0px 180px;
  }
  div#name-field {
      min-width: 327px;
  }
   
} /* fin de adaptacion escritorio */

div#button-field {
    width: 40px;
    flex: 0 0 auto;   
}

div#button-field {
      width: 40px;
      flex: 0 0 auto;
  }

div#left-navigation {
    left: 0;
    top: 0;
    position: absolute;
    background-color: rgb(50, 50, 50);
    height: 100%;
    z-index: 600;
}

div#inner-left-navigation {

    display: flex;
    position: fixed;
    flex: 1 1 auto;
    height: 100%;
    background-color: rgb(50, 50, 50);
}

div#left-navigation-login {
    left: 0;
    top: 0;
    position: absolute;
    background-color: rgb(50, 50, 50);
    height: 100%;
    width: 10%;
    z-index: 600;
}

div#inner-left-navigation-login {

    display: flex;
    position: fixed;
    flex: 1 1 auto;
    height: 100%;
    /*background-color: rgb(50, 50, 50);*/
    background-image: url(https://test.modi.com.co/storage/banner/60d76941bb9d7.png);
}



a#logo-app {
    margin: 20px auto;
    height: 40px;
}

div#inner-navbar {
    display: block;
    position: inherit;
    top: 100px;
    color: rgb(250, 250, 250);;
}

#left-navigation svg {
    margin: 0 10px;
}

div#row-form {
    display: flex;
    flex-direction: row;
}



.timer-input{
  width: 100%;
  border: 0;
}

input#querystr {
    width: 100%;
    border:1px solid #A7A7A7;
    font-size: 16px;
    height: calc(2.25rem + 2px);
}

.daily-slot{
  text-align: center;

}
.planner-status {
    padding: 2px 10px;
    border-radius: 5px;
}

.task-image{
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.report-month {
    font-size: smaller;
}

#taskTable td {
    background-color: #F5F6F8;
}

.edit-container .hide{
  visibility:hidden;
}

.edit-container:hover .hide {
  visibility:visible;
}

.sub-hide{
  /*visibility:hidden;
  display: none;*/
}

.select-container:hover + .sub-hide {
  /*visibility:visible;
  display: inline-block;*/
}

#taskTable th{
  border: none;
  background-color: transparent;
}




div#task_points {
  text-align: center;
  font-weight: bold;
}

div#task_content{
  display: -webkit-box;
}
div#task_content_left{
  text-align: left; 
  width: 50%;
}
div#task_content_right{
  text-align: right; 
  width: 50%;
}

.fc-day-grid-event.fc-content.fc-title {
  white-space: normal;
}

.list-project-item{
  list-style:disc;
}
